.container {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: var(--card-shadow-5);
    background-color: var(--theme-color-dark);
}

.row {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: stretch;

    line-height: 30px;
}

.row .row-item {
    flex: 1;
    height: auto;
}

.row .row-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}


.row .spacer {
    flex: 2;
}